<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Work Groups - Home</title>
	<link rel="stylesheet" type="text/css" media="all" href="../css/style.css" th:href="@{/css/style.css}" />
	<link rel="stylesheet" type="text/css" media="all" href="../css/homeStyle.css" th:href="@{/css/homeStyle.css}" />
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>

<body>

	<header th:replace="@{thfragments/header} :: header"></header>

	<div class="wrapper">

		<h1 style="margin-top: 40px">
			Welcome <span th:if="${session.user != null}" th:text="${session.user.username}">[name]</span>
		</h1>

		<form th:action="@{/inviteusers}" action="#" method="POST">
			<input type="hidden" name="attempt" value="0">
			<div class="error-box" th:if="${session.createGroupValidation != null}">
				<ul th:remove="all-but-first">
					<li th:each="errorMessage : ${session.createGroupValidation.errorMessages}" th:text="${errorMessage}">Error message 0</li>
					<li>Error message 1</li>
					<li>Error message 2</li>
				</ul>
			</div>
			<div class="form-row">
				<div class="input-field group-name">
					<label for="groupName">Group Name:</label>
					<input type="text" id="groupName" name="groupName" required
						th:value="${session.createGroupValidation != null} ? ${session.createGroupValidation.name} : ''">
				</div>

				<div class="input-field">
					<label for="duration">Duration (in days):</label>
					<input type="number" id="duration" name="duration"min="1" required
						th:value="${session.createGroupValidation != null} ? ${session.createGroupValidation.duration} : ''">
				</div>

				<div class="input-field">
					<label for="minMembers">Minimum Members:</label> <input type="number" id="minMembers" name="minMembers" min="1" required
						th:value="${session.createGroupValidation != null} ? ${session.createGroupValidation.minUsers} : ''">
				</div>

				<div class="input-field">
					<label for="maxMembers">Maximum Members:</label> <input type="number" id="maxMembers" name="maxMembers" min="1" required
						th:value="${session.createGroupValidation != null} ? ${session.createGroupValidation.maxUsers} : ''">
				</div>
			</div>

			<input type="submit" value="Create Group">
		</form>

		<br>
		<h2 th:text="${#lists.isEmpty(ownedGroups)} ? 'You have not created any group yet' : 'Your active Groups:'">Your
			active Groups:</h2>
		<ul th:remove="all-but-first" class="group-list">
			<li th:each="group : ${ownedGroups}" class="group-elem">
				<h3 th:text="${group.groupName}">Group name</h3>
				<p>
					<img th:src="@{/images/clock.png}" src="../images/clock.png" alt="Duration"
						style="height: 16px; width: 16px;">
					Duration:&nbsp;<span th:text="${group.duration}">4</span>&nbsp;days
				</p>
				<p>
					<img th:src="@{/images/group.png}" src="../images/group.png" alt="Members"
						style="height: 16px; width: 16px;">
					Members:&nbsp;<span th:text="${group.userCount}">4</span>/<span
						th:text="${group.maxUsers}">10</span>
				</p>
				<button>View Details</button>
			</li>
			<li class="group-elem">
				<h3>Group 2</h3>
				<p>
					<img src="time-left.png" alt="Duration" style="height: 16px; width: 16px;"> Duration: 6 Days
				</p>
				<p>
					<img src="group-chat.png" alt="Members" style="height: 16px; width: 16px;"> Members: 5/15
				</p>
				<button>View Details</button>
			</li>
			<li class="group-elem">
				<h3>Group 3</h3>
				<p>
					<img src="time-left.png" alt="Duration" style="height: 16px; width: 16px;"> Duration: 8 Days
				</p>
				<p>
					<img src="group-chat.png" alt="Members" style="height: 16px; width: 16px;"> Members: 4/12
				</p>
				<button>View Details</button>
			</li>
			<li class="group-elem">
				<h3>Group 4</h3>
				<p>
					<img src="time-left.png" alt="Duration" style="height: 16px; width: 16px;"> Duration: 10 Days
				</p>
				<p>
					<img src="group-chat.png" alt="Members" style="height: 16px; width: 16px;"> Members: 8/20
				</p>
				<button>View Details</button>
			</li>
			<li class="group-elem">
				<h3>Group 5</h3>
				<p>
					<img src="time-left.png" alt="Duration" style="height: 16px; width: 16px;"> Duration: 12 Days
				</p>
				<p>
					<img src="group-chat.png" alt="Members" style="height: 16px; width: 16px;"> Members: 10/10
				</p>
				<button>View Details</button>
			</li>
			<li class="group-elem">
				<h3>Group 6</h3>
				<p>
					<img src="time-left.png" alt="Duration" style="height: 16px; width: 16px;"> Duration: 3 Days
				</p>
				<p>
					<img src="group-chat.png" alt="Members" style="height: 16px; width: 16px;"> Members: 2/5
				</p>
				<button>View Details</button>
			</li>
		</ul>

		<br>
		<h2>Other active groups you are part of:</h2>
		<ul class="group-list">
			<li class="group-elem">
				<h3>Group 1</h3>
				<p>
					<img src="time-left.png" alt="Duration" style="height: 16px; width: 16px;"> Duration: 4 Days
				</p>
				<p>
					<img src="group-chat.png" alt="Members" style="height: 16px; width: 16px;"> Members: 3/10
				</p>
				<button>View Details</button>
			</li>
			<li class="group-elem">
				<h3>Group 2</h3>
				<p>
					<img src="time-left.png" alt="Duration" style="height: 16px; width: 16px;"> Duration: 6 Days
				</p>
				<p>
					<img src="group-chat.png" alt="Members" style="height: 16px; width: 16px;"> Members: 5/15
				</p>
				<button>View Details</button>
			</li>
			<li class="group-elem">
				<h3>Group 3</h3>
				<p>
					<img src="time-left.png" alt="Duration" style="height: 16px; width: 16px;"> Duration: 8 Days
				</p>
				<p>
					<img src="group-chat.png" alt="Members" style="height: 16px; width: 16px;"> Members: 4/12
				</p>
				<button>View Details</button>
			</li>
			<li class="group-elem">
				<h3>Group 4</h3>
				<p>
					<img src="time-left.png" alt="Duration" style="height: 16px; width: 16px;"> Duration: 10 Days
				</p>
				<p>
					<img src="group-chat.png" alt="Members" style="height: 16px; width: 16px;"> Members: 8/20
				</p>
				<button>View Details</button>
			</li>
			<li class="group-elem">
				<h3>Group 5</h3>
				<p>
					<img src="time-left.png" alt="Duration" style="height: 16px; width: 16px;"> Duration: 12 Days
				</p>
				<p>
					<img src="group-chat.png" alt="Members" style="height: 16px; width: 16px;"> Members: 10/10
				</p>
				<button>View Details</button>
			</li>
			<li class="group-elem">
				<h3>Group 6</h3>
				<p>
					<img src="time-left.png" alt="Duration" style="height: 16px; width: 16px;"> Duration: 3 Days
				</p>
				<p>
					<img src="group-chat.png" alt="Members" style="height: 16px; width: 16px;"> Members: 2/5
				</p>
				<button>View Details</button>
			</li>
		</ul>
	</div>

</body>

</html>